// variables
$primary: rgb(0, 90, 194);
$secondary: rgb(0, 202, 135);
$dark: #000;
$dark-opacity: rgba($dark, 0.5);
$font-size: 1.75rem;
$brand: 'dsc';

// clases
.#{$brand}-title-primary {
    font-size: $font-size;
    color: $primary;
}

.#{$brand}-title-secondary {
    font-size: $font-size;
    color: $secondary;
}

.#{$brand}-title-dark {
    font-size: $font-size;
    color: $dark-opacity;
}